options:
  ovn-l3-scheduler:
    type: string
    default: leastloaded
    description: >
      The OVN L3 Scheduler type to use when scheduling router gateway ports.

      Available schedulers:

        - leastloaded - chassis with fewest gateway ports selected (default)

        - chance - chassis randomly selected
  ovn-metadata-enabled:
    type: boolean
    default: True
    description: >
      Whether to use the metadata service.

      Note: The ``ovn-chassis:nova-compute - nova-compute:neutron-plugin``
      subordinate relation is a prerequisite for this to work.
  ovn-source:
    type: string
    default: ""
    description: >
      Overlay repository from which to install OVN packages.

      The default for this configuration option is determined at charm
      runtime.

      New deployments on Ubuntu 20.04 (Focal) series with this option set
      to default "" (empty string), will use repository overlay with
      OVN 22.03 packages.

      To deploy new Ubuntu 20.04 (Focal) deployment without applying the
      package overlay, set this configuration value to "distro" at deployment
      time.

      Deployments that are upgraded from older releases to 20.04 (Focal) won't
      automatically switch to using overlay and will keep using packages
      provided by release distribution.

      To enable package overlay on a deployment that is not yet using it,
      set this option to one of the valid values:

        * "cloud:focal-ovn-22.03"

      Deployments on releases newer than 20.04 (Focal) do not currently need
      this package overlay.

  enable-distributed-floating-ip:
    type: boolean
    default: False
    description: >
      This is for specifc use cases only, not generally recommended, see note
      below.

      Perform NAT action for floating IPs locally on each chassis.

      Enabling this requires making external Layer3 connectivity available
      globally and configuring bridge mappings on all chassis in the
      deployment.

      Note: OVN gives you distributed East/West and highly available
      North/South routing by default.  You do not need to enable this option
      to get that.  This is for very specific use cases only.

      Enabling it will create a scaling problem at the physical network layer
      that needs to be resolved with globally shared Layer2 (does not scale) or
      tunneling at the top-of-rack switch layer (adds complexity) and is
      generally not a recommended configuration.
  geneve-vni-ranges:
    type: string
    default: "1001:2000"
    description: >
      Space-delimited list of <vni_min>:<vni_max> tuples enumerating ranges of
      Geneve VNI IDs that are available for tenant network allocation.
  dns-servers:
    type: string
    default:
    description: >
      Space-delimited list of DNS servers to use as forwarders if a subnets
      ``dns_nameservers`` field is empty.
  dhcp-default-lease-time:
    type: int
    default: 43200
    description: >
      Default lease time (in seconds) to use with OVN's native DHCP service.
  ovn-dhcp4-global-options:
    type: string
    default:
    description: >
      Dictionary of global DHCPv4 options which will be automatically set on
      each subnet upon creation and on all existing subnets when Neutron
      starts.

      An empty value for a DHCP option will cause that option to be unset
      globally.

      EXAMPLES:

        - ntp_server:1.2.3.4,wpad:1.2.3.5 - Set ntp_server and wpad

        - ntp_server:,wpad:1.2.3.5 - Unset ntp_server and set wpad

        See the ovn-nb(5) man page for available options.
  ovn-dhcp6-global-options:
    type: string
    default:
    description: >
      Dictionary of global DHCPv4 options which will be automatically set on
      each subnet upon creation and on all existing subnets when Neutron
      starts.

      An empty value for a DHCP option will cause that option to be unset
      globally.

      EXAMPLES:

        - ntp_server:1.2.3.4,wpad:1.2.3.5 - Set ntp_server and wpad

        - ntp_server:,wpad:1.2.3.5 - Unset ntp_server and set wpad

        See the ovn-nb(5) man page for available options.
